/*
 * Author: John McDonnell
 * Student Number: D00096987
 * Email: D0009687@student.dkit.ie
 * Course: Computing
 * Module: Rich Web Applications 1
 * CA 1
 * Due Date 15th of November 2014
 * Version Final
 */

body{
    background-color: black;
}
canvas
{
    margin-left: 100px;
    margin-top: 10px;

    background-color: black;

}
form
{
    width: 450px;
    margin-left: 850px;
    margin-top: -530px;
    z-index:50;
    color: white;
    background-color: black;
    border-top-right-radius   : 25px;
    border-bottom-left-radius : 25px;


}
label
{
    width:150px;
    display:inline-block;

}
fieldset
{
    border: 2px solid gold;
    border-top-right-radius   : 25px;
    border-bottom-left-radius : 25px;

    -webkit-box-shadow : #666 20px 20px 30px;
    -moz-box-shadow    : #666 20px 20px 30px;
    -ms-box-shadow    : #666 20px 20px 30px;
    -o-box-shadow    : #666 20px 20px 30px;
    box-shadow         : #666 20px 20px 30px;  
}
#appleColor
{
    background-color:white;
    border: 1px solid gold;
    border-top-right-radius   : 25px;
    border-bottom-left-radius : 25px;
}
#samsungColor
{
    background-color:red;
    border: 1px solid gold;
    border-top-right-radius   : 25px;
    border-bottom-left-radius : 25px;
}
#googleColor
{
    background-color:green;
    border: 1px solid gold;
    border-top-right-radius   : 25px;
    border-bottom-left-radius : 25px;
}
titleContainer
{
    border:5px solid black;
    width:800px;
    height:700px; 
    z-index:10;
}

#chartTitle
{
    margin-top: 15px ;
    margin-left: 150px ;
    width: 600px;
    text-align: center;
    font-size: 30px;
    z-index:20;
    //background-color: red;
    color: white;
}

#xAxisContainer
{

    margin-left: 150px;
    margin-top: 190px ;
    font-size: 20px;
    z-index:30;
    width: 600px;
    text-align: center;
    //background-color: blue;
    color: white;

}
#yAxisContainer
{
    width : 100px;
    height: 60px;
    margin-left: 0px;
    margin-top: -250px;
    font-size: 20px;
    z-index:25;
    text-align: center;
    //background-color: pink;
    color: white;

}






